/* A fading highlighter style, default color yellow.  */
mark {
  --vp-mark-text: currentcolor;
  --vp-mark-bg: transparent;
  --vp-mark-bg-shift: 0.75lh;
  --vp-mark-linear-color: rgba(255, 224, 48, 0.5);
}

/* Fixes weird visual bug in collapse module's title */
.vp-collapse-title code {
  background: none !important;
  font-size: 1em !important;
  padding: 0 !important;
  padding-left: 0.3em !important;
}
